---
import TopHeader from './TopHeadert.astro';
---

<div class="border-b-[1px] border-slate-200 dark:border-slate-800">
  <div class="layout-container">
    <TopHeader />
    <div class="my-3 flex items-center justify-between text-white">
      <a href="/" class="text-xl font-semibold"> ARFAN✨ </a>
      <ul class="flex gap-3">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>
