---
import TopHeader from './TopHeadert.astro';

const LINKS = [
  {
    name: 'Home',
    href: '/',
  },
  {
    name: 'Blog',
    href: '/blog',
  },
];

const { pathname } = new URL(Astro.request.url);
let currentPath = pathname.slice(1); // remove the first slash
if (currentPath[currentPath.length - 1] === '/') {
  currentPath = currentPath.slice(0, currentPath.length - 1);
}
---

<div class="border-b-[1px] border-slate-200 dark:border-slate-800">
  <div class="layout-container">
    <TopHeader />
    <div class="my-3 flex items-center justify-between">
      <a
        href="/"
        class="text-xl font-semibold text-slate-600 dark:text-slate-400"
      >
        Arfan✨
      </a>
      <ul class="flex gap-3">
        {
          LINKS.map((link) => {
            const isActive =
              currentPath === link.href.slice(1) ||
              pathname.startsWith(`${link.href}/`);
            return (
              <li class="text-md link font-medium text-slate-500 dark:text-slate-500">
                <a
                  href={link.href}
                  class={isActive ? 'text-brand-400 dark:text-brand-300' : ''}
                >
                  {link.name}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</div>
