---
import { getCollection } from 'astro:content';
import Layout from '../../layout/Layout.astro';
import { Image } from 'astro:assets';

const posts = await getCollection('blog');
---

<Layout>
  <div class="py-[80px]">
    <h1 class="mb-5 text-center text-4xl">This is blog archive</h1>
    <div class="flex flex-wrap gap-4">
      {
        posts.map((post) => (
          <a href={'/blog/' + post.slug}>
            <div class="rounded-3xl bg-slate-900 p-5 hover:bg-slate-800">
              {post.data.cover && (
                <div class="mb-4">
                  <Image
                    src={post.data.cover}
                    alt={post.data.coverAlt || post.data.title}
                    class={'aspect-[3/2] max-w-[400px] rounded-2xl'}
                  />
                </div>
              )}
              <div>
                <h2 class="mb-2 text-xl font-semibold">{post.data.title}</h2>
                <p class="mb-1 text-sm text-slate-500">{post.data.pubDate}</p>
                <p>{post.data.description}</p>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
