h1 code,
h2 code,
h3 code,
h4 code,
p code {
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  background-color: rgba(82, 97, 115, 0.31);
  &::before,
  &::after {
    display: none;
  }
}

.astro-code {
  --add-line-bg: rgba(0, 128, 0, 0.16);
  --remove-line-bg: rgba(128, 0, 0, 0.207);
  --add-symbol-color: rgb(40, 255, 115);
  --remove-symbol-color: rgba(234, 18, 18, 0.982);
  --highlight-color: rgba(47, 110, 226, 0.267);
  --highlight-box-color: rgb(29, 108, 255);
}
pre.astro-code {
  background: #161b22;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 20px 0;
  background: transparent;
  overflow-x: auto;
}
pre.astro-code code {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  transition: color 0.5s;
}
.astro-code .line.diff {
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 48px);
  display: inline-block;
}

.astro-code .line.diff.add {
  background-color: var(--add-line-bg);
}

.astro-code .line.diff::before {
  position: absolute;
  left: 10px;
}

.astro-code .line.diff.add::before {
  content: '+';
  color: var(--add-symbol-color);
}

.astro-code .line.diff.remove {
  background-color: var(--remove-line-bg);
  // opacity: 0.8;
}

.astro-code .line.diff.remove::before {
  content: '-';
  color: var(--remove-symbol-color);
}

.astro-code .line.highlighted {
  background-color: var(--highlight-color);
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 48px);
  display: inline-block;
  position: relative;
}
.astro-code .line.highlighted::before {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 10px;
  background: var(--highlight-box-color);
  content: '';
}

.astro-code[data-show-line-numbers] {
  counter-reset: step;
  counter-increment: step 0;
}

.astro-code[data-show-line-numbers] .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}
