---
import About from '../components/home/Hero.astro';
import Works from '../components/home/Works';
import Layout from '../layout/Layout.astro';
---

<Layout>
  <div class="min-h-screen font-inter">
    <About />
    <Works />
  </div>
</Layout>
