---
import About from '../components/About';
import Footer from '../components/Footer';
import Works from '../components/Works';
import Layout from '../layout/Layout.astro';
---

<Layout>
  <div class="min-h-screen font-inter">
    <About />
    <Works />
    <Footer />
  </div>
</Layout>
