---
import Link from '~/components/Link';
import Layout from '../layout/Layout.astro';
---

<Layout>
  <div
    class="grid min-h-screen place-content-center bg-white font-inter dark:bg-slate-900"
  >
    <div class="w-full max-w-5xl">
      <div class="links_wrapper">
        <h1
          class="mb-3 text-xl font-bold text-gray-700 dark:text-gray-300 md:text-3xl"
        >
          Important Links
        </h1>
        <ol
          class="ml-4 flex list-decimal flex-col gap-2 text-gray-700 dark:text-gray-300"
        >
          <li>
            <Link
              href="https://www.youtube.com/channel/UCdxaLo9ALJgXgOUDURRPGiQ"
              target="_blank"
              rel="noreferrer"
            >
              YouTube Channel
            </Link>
          </li>
          <li>
            <Link
              href="https://shaifarfan.com"
              target="_blank"
              rel="noreferrer"
            >
              Website
            </Link>
          </li>
          <li>
            <Link
              href="https://facebook.com/fb.shaifarfan08"
              target="_blank"
              rel="noreferrer"
            >
              Facebook
            </Link>
          </li>
          <li>
            <Link
              href="https://twitter.com/shaifarfan08"
              target="_blank"
              rel="noreferrer"
            >
              Twitter
            </Link>
          </li>
          <li>
            <Link
              href="https://github.com/shaifarfan"
              target="_blank"
              rel="noreferrer"
            >
              GitHub
            </Link>
          </li>
          <li>
            <Link
              href="https://instagram.com/shaifarfan08"
              target="_blank"
              rel="noreferrer"
            >
              Instagram
            </Link>
          </li>
          <li>
            <Link
              href="mailto:shaifarfan08@gmail.com"
              target="_blank"
              rel="noreferrer"
            >
              Email-me
            </Link>
          </li>
        </ol>
      </div>
    </div>
  </div>
</Layout>
