---
import Layout from '../layout/Layout.astro';
// const site = import.meta.env.SITE;
import { siteInfo } from '../data/site-info';
---

<Layout>
  <div class="py-10 text-slate-700 dark:text-slate-400">
    <h1>Privacy Policy 🔒</h1>

    <h2>Introduction:</h2>
    <p>
      Welcome to test shaifarfan.com, a personal website where I share blog
      posts and showcase my works. This Privacy Policy outlines how personal
      data is collected, used, and protected on this website.
    </p>

    <h2>Data Collection:</h2>
    <p>
      When you visit shaifarfan.com, certain information is automatically
      collected, including your IP address, browser type, operating system, and
      browsing behavior. Additionally, if you choose to interact with the
      website by leaving comments or submitting forms, personal information such
      as your name, email address, and website URL may be collected.
    </p>

    <h2>Data Usage:</h2>
    <p>
      Personal data collected on shaifarfan.com is used for the following
      purposes:
    </p>
    <ul>
      <li>Communicating with visitors who leave comments or submit forms.</li>
      <li>Improving the content and user experience of the website.</li>
      <li>Protecting against unauthorized access or misuse of the website.</li>
    </ul>

    <h2>Use of Cookies:</h2>
    <p>
      shaifarfan.com uses cookies to enhance the user experience and analyze
      website traffic. By using the website, you consent to the use of cookies
      in accordance with this Privacy Policy.
    </p>

    <h2>Data Security:</h2>
    <p>
      Security measures are in place to protect personal data collected on
      shaifarfan.com from unauthorized access, alteration, or disclosure.
    </p>

    <h2>Third-party Services:</h2>
    <p>
      This website may utilize third-party services, such as Google Analytics,
      to analyze website traffic and user interactions. These third-party
      services may collect personal data in accordance with their respective
      privacy policies.
    </p>

    <h2>Links to Other Websites:</h2>
    <p>
      shaifarfan.com may contain links to other websites that are not operated
      or controlled by me. I am not responsible for the privacy practices or
      content of these third-party websites.
    </p>

    <h2>Updates to Privacy Policy:</h2>
    <p>
      This Privacy Policy may be updated periodically to reflect changes in
      website practices or legal requirements. Visitors are encouraged to review
      this page regularly for any updates.
    </p>

    <h2>Contact Information:</h2>
    <p>
      If you have any questions or concerns about this Privacy Policy, please
      contact me at "{siteInfo.email}".
    </p>

    <h2>Last Updated:</h2>
    <p>March 6, 2024</p>
  </div>
</Layout>

<style>
  h1 {
    font-size: 2rem;
    font-weight: 700;
    /* margin-top: 2rem; */
  }
  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
</style>
