---
import { Image } from 'astro:assets';
import Link from '../Link';
import OpenToHireModal from '../OpenToHire/OpenToHireModal';
---

<div
  class="flex flex-col items-center justify-center gap-10 py-[50px] md:flex-row md:gap-20 md:py-[150px]"
>
  <Image
    src="https://avatars.githubusercontent.com/u/38496311?v=4"
    alt="Profile Picture"
    class="w-full max-w-[300px] rounded-full object-cover md:w-6/12"
    height={300}
    width={300}
  />

  <div class="w-full text-center md:w-6/12 md:text-left">
    <h1 class="text-2xl font-semibold text-brand-600 md:text-4xl">
      Hi, I&apos;m Shaif Arfan
    </h1>
    <p
      class="mt-3 font-inter text-lg text-gray-600 dark:text-gray-300 md:text-xl"
    >
      Experienced Web Developer and Educator
    </p>
    <p class="mt-3 text-base text-gray-600 dark:text-gray-400">
      <span>
        Welcome to my portfolio! I specialize in crafting innovative solutions
        with comprehensive full-stack expertise in JavaScript and top-tier
        framework utilization.
      </span>
      <span class="mt-2 block">
        Additionally, I&apos;m passionate about sharing my knowledge in web
        development through instructional content on the{' '}
        <Link
          href="https://youtube.com/webcifarOfficial"
          target="_blank"
          class="text-inherit"
        >
          Web Cifar YouTube Channel
        </Link>
        .
      </span>
      <span class="mt-2 block">
        Explore my works, and let&apos;s collaborate to bring your ideas to
        life!
      </span>
    </p>

    <div class="mt-1 block"></div>

    <div class="mt-5 flex justify-center gap-3 md:justify-start">
      <a href="#works">
        <button class="primary-btn" type="button"> See My Works </button>
      </a>
      <OpenToHireModal client:load />
    </div>
  </div>
</div>
