---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<span
  class={'rounded-md bg-slate-100 px-2 py-1  text-base  text-slate-600 dark:bg-slate-800 dark:text-slate-400' +
    ' ' +
    className}
>
  <slot />
</span>
