* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.linksPage {
	font-size: 10px;
	height: 100%;
	width: 100%;
	.container {
		padding-top: 10rem;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	ol {
		color: var(--whiteBlue-1);
		font-family: Inter;
		font-size: 2rem;
		margin-left: 2rem;
	}
	li {
		margin-bottom: 2rem;
	}
	li:hover {
		a {
			color: var(--blue-1);
		}
	}
	a {
		color: var(--whiteBlue-1);
		display: inline-block;
		transition: 0.3s ease color;
	}
	h1 {
		font-size: 3rem;
		color: var(--whiteBlue-2);
		margin-bottom: 2rem;
	}
	@media only screen and (max-width: 768px) {
		h1 {
			font-size: 2.2rem;
		}
		ol {
			font-size: 1.6rem;
		}
	}
}
