---
import BaseHead, {
  type Props as HeadProps,
} from '../components/BaseHead.astro';
import { ViewTransitions } from 'astro:transitions';
import '~/styles/global.css';
import Header from './header/Header';

export type Props = HeadProps;

// TODO will be used for active link highlighting
// const { pathname } = new URL(Astro.request.url);
// let currentPath = pathname.slice(1); // remove the first slash
// if (currentPath[currentPath.length - 1] === '/') {
//   currentPath = currentPath.slice(0, currentPath.length - 1);
// }

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <BaseHead {...head} />
    <ViewTransitions fallback="animate" />
  </head>
  <body transition:animate="fade" class="bg-white font-inter dark:bg-darkBlue">
    <Header client:load />
    <div class="layout-container">
      <slot />
    </div>
    <style is:global>
      html {
        scroll-behavior: smooth;
      }
      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
